<header class="header-6">
  <div class="branding">...</div>
  <div class="header-nav">
    <a routerLink="/app-hrmodulecomponent" class="active nav-link nav-text"
      >Dashboard</a
    >
    <a routerLink="/app-login-creation" class="nav-link nav-text"
      >Interactive Analytics</a
    >
  </div>
  <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</header>
<p>login-creation works!</p>
